<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<f:view>
	<ui:composition template="layout.xhtml">
		<ui:define name="content">
			<p:breadCrumb>
				<p:menuitem value="Documents" url="documents.jsf" />
			    <p:menuitem value="Documents" url="documents.jsf" />
			</p:breadCrumb>
			<br /><br />
			<p:fieldset legend="Documents">
				<h3 class="title ui-widget-header ui-corner-all"
					style="font-family: Arial, sans-serif; padding: 5px">List of
					documents</h3>
				<p:dataTable value="#{jsfBean.allDocuments}" var="document"
					border="1">
					<p:column>
						<f:facet name="header">
							<h:outputText value="ID" />
						</f:facet>
						<h:outputText value="#{document.id}" />
					</p:column>
					<p:column>
						<f:facet name="header">
							<h:outputText value="Name" />
						</f:facet>
						<p:link outcome="viewdocument.xhtml?id=#{document.id}"
							value="#{document.name}" />
					</p:column>
					<p:column>
						<f:facet name="header">
							<h:outputText value="Date" />
						</f:facet>
						<h:outputText value="#{document.date}">
							<f:convertDateTime pattern="dd. MMM yyyy." />
						</h:outputText>
					</p:column>
					<p:column>
						<f:facet name="header">
							<h:outputText value="Code" />
						</f:facet>
						<h:outputText value="#{document.code}" />
					</p:column>
					<p:column>
						<h:form>
							<p:commandButton value="Delete"
								actionListener="#{jsfBean.deleteDocument(document)}"
								type="submit" update="@form" ajax="false" />
						</h:form>
					</p:column>
				</p:dataTable>
				<br />
				<p:button outcome="newdocument.xhtml" value="Add New Document" />
			</p:fieldset>
		</ui:define>
	</ui:composition>
</f:view>
</html>