<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<f:view>
	<ui:composition template="layout.xhtml">
		<f:metadata>
			<f:viewParam name="id" value="#{jsfBean.documentItem.id}" />
			<f:viewAction action="#{jsfBean.viewDocumentItem}" />
		</f:metadata>
		<ui:define name="title">Document item</ui:define>
		<ui:define name="content">
		<p:breadCrumb>
			<p:menuitem value="Documents" url="documents.jsf" />
			<p:menuitem value="Documents" url="documents.jsf" />
			<p:menuitem value="#{jsfBean.documentItem.document.name}"
				url="viewdocument.jsf?id=#{jsfBean.documentItem.document.id}" />
			<p:menuitem value="#{jsfBean.documentItem.name}"
				url="edititem.jsf?id=#{jsfBean.documentItem.id}" />
		</p:breadCrumb>
		<br /><br />
			<p:fieldset legend="Document item information">
				<h:form id="editItemForm" prependId="false">
					<p:panelGrid columns="2" border="0" layout="grid"
						style="margin: 20px;">
						<p:outputLabel value="Name : " />
						<h:inputText value="#{jsfBean.documentItem.name}" />
						<p:outputLabel value="Price :" />
						<h:inputText value="#{jsfBean.documentItem.price}" />
					</p:panelGrid>
					<p:commandButton value="Edit document item" update="name,price" action="#{jsfBean.editDocumentItem}"
						styleClass="ui-priority-primary" type="submit" ajax="false" />
				</h:form>
			</p:fieldset>
		</ui:define>
	</ui:composition>
</f:view>
</html>