<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<f:view>
    <h:head>
        <title><ui:insert name="title">Application</ui:insert></title>
    </h:head>
    <h:body>
    	<div class="ui-grid ui-grid-responsive">
            <div class="ui-grid-row">
                <div class="ui-grid-col-2"></div>
                <div class="ui-grid-col-8">
                    <p:growl for="errors" showDetail="true" autoUpdate="true"/>
                    <ui:insert name="content">Default content</ui:insert>
                </div>
                <div class="ui-grid-col-2"></div>
            </div>
        </div>
        <br/><br/>
    </h:body>
</f:view>
</html>