<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<f:view>
	<ui:composition template="layout.xhtml">
		<f:metadata>
			<f:viewAction action="#{jsfBean.resetDocumentItem}" />
		</f:metadata>
		<ui:define name="title">New document item</ui:define>
		<ui:define name="content">
		<p:breadCrumb>
			<p:menuitem value="Documents" url="documents.jsf" />
			<p:menuitem value="Documents" url="documents.jsf" />
			<p:menuitem value="#{jsfBean.document.name}"
				url="viewdocument.jsf?id=#{jsfBean.document.id}" />
			<p:menuitem value="Add new item" url="newdocumentitem.jsf" />
		</p:breadCrumb>
		<br /><br />
			<p:fieldset legend="Document Item">
				<h3 class="title ui-widget-header ui-corner-all"
					style="font-family: Arial, sans-serif; padding: 5px">Create
					new item</h3>
				<h:form id="newItemForm" prependId="false">
					<p:panelGrid columns="2">
						<p:outputLabel value="Item name : " />
						<h:inputText value="#{jsfBean.documentItem.name}" />
						<p:outputLabel value="Price :" />
						<h:inputText value="#{jsfBean.documentItem.price}" />
					</p:panelGrid>
					<br />
					<p:commandButton value="Add New Item"
						action="#{jsfBean.addNewDocumentItem(document)}" />
				</h:form>
			</p:fieldset>
		</ui:define>
	</ui:composition>
</f:view>
</html>