<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<f:view>
	<ui:composition template="layout.xhtml">
		<f:metadata>
			<f:viewAction action="#{jsfBean.resetDocument}" />
		</f:metadata>
		<ui:define name="title">New document</ui:define>
		<ui:define name="content">
		<p:breadCrumb>
			<p:menuitem value="Documents" url="documents.jsf" />
			<p:menuitem value="Documents" url="documents.jsf" />
			<p:menuitem value="Add new document" url="newdocument.jsf" />
		</p:breadCrumb>
		<br /><br />
			<h:form id="newDocForm" prependId="false">
				<p:panelGrid columns="2">
					<p:outputLabel value="Document name : " />
					<h:inputText value="#{jsfBean.document.name}" />
					<p:outputLabel value="Code :" />
					<h:inputText value="#{jsfBean.document.code}" />
					<p:outputLabel value="Date :" />
					<p:calendar value="#{jsfBean.document.date}"
						pattern="dd. MMM yyyy." />
				</p:panelGrid>
				<br />
				<p:commandButton value="Add New Document"
					action="#{jsfBean.addNewDocument}" type="submit" update="@form"
					ajax="false" />
			</h:form>
		</ui:define>
	</ui:composition>
</f:view>
</html>