<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<f:view>
	<ui:composition template="layout.xhtml">
		<f:metadata>
			<f:viewParam name="id" value="#{jsfBean.document.id}" />
			<f:viewAction action="#{jsfBean.viewDocument(document)}" />
		</f:metadata>
		<ui:define name="title">Document</ui:define>
		<ui:define name="content">
		<p:breadCrumb>
			<p:menuitem value="Documents" url="documents.jsf" />
			<p:menuitem value="Documents" url="documents.jsf" />
			<p:menuitem value="#{jsfBean.document.name}" url="viewdocument.jsf?id=#{jsfBean.document.id}" />
		</p:breadCrumb>
		<br /><br />
			<p:fieldset legend="Document information">
				<h:form id="documentForm" prependId="false">
					<p:panelGrid columns="2" border="0" layout="grid"
						style="margin: 20px;">
						<p:outputLabel value="Document name : " />
						<h:inputText value="#{jsfBean.document.name}" />
						<p:outputLabel value="Code :" />
						<h:inputText value="#{jsfBean.document.code}" />
						<p:outputLabel value="Date :" />
						<p:calendar value="#{jsfBean.document.date}"
							pattern="dd. MMM yyyy." />
					</p:panelGrid>
					<p:commandButton value="Edit document" update="name,code,date"
						action="#{jsfBean.editDocument}" styleClass="ui-priority-primary"
						type="submit" ajax="false" />
				</h:form>
			</p:fieldset>
			<h3 class="title ui-widget-header ui-corner-all"
				style="font-family: Arial, sans-serif; padding: 5px">List of
				document items</h3>
			<p:dataTable value="#{jsfBean.allDocumentItems}" var="documentItem">
				<p:column>
					<f:facet name="header">
						<h:outputText value="ID" />
					</f:facet>
					<h:outputText value="#{documentItem.id}" />
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Name" />
					</f:facet>
					<p:link outcome="edititem.xhtml?id=#{documentItem.id}"
						value="#{documentItem.name}" />
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Price" />
					</f:facet>
					<h:outputText value="#{documentItem.price}" />
				</p:column>
				<p:column>
					<h:form>
						<p:commandButton value="Delete"
							action="#{jsfBean.deleteDocumentItem(documentItem)}"
							type="submit" update="@form" ajax="false" />
					</h:form>
				</p:column>
			</p:dataTable>
			<br />
			<p:button outcome="newdocumentitem.xhtml"
				value="Add New Document Item" />
		</ui:define>
	</ui:composition>
</f:view>
</html>